<app-userProfile></app-userProfile>

CHAT WINDOW
<!--<div class="chat-window">-->
   //Eğer seçili chat yoksa boş bir mesaj göster 
  <ng-container  *ngIf="selectedChat; else emptyChat">  
    <div class="chat-header">
<div> <img class="userAvatar" [src]={{receiverProfilePic}} width="50px" height="50px"> {{receiver.name}} </div>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of selectedChat.messages" class="message">
        <strong>{{ message.sender }}:</strong> {{ message.text }}
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage.messageContent" placeholder="..." />
      <button (click)="sendMessage()">Gönder</button>
    </div>
  </ng-container>
  <ng-template #emptyChat>
    <div class="empty-chat">
      <p> Empty</p>
    </div>
  </ng-template>



