<app-userProfile></app-userProfile>
<app-message></app-message>
CHAT WINDOW
<!--<div class="chat-window">-->

  <!--<ng-container>   *ngIf="selectedChat; else emptyChat"
    <div class="chat-header">
<div> <img class="userAvatar" width="50px" height="50px"> {{chat.user.name}} </div>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of selectedChat.messages" class="message">
        <strong>{{ message.sender }}:</strong> {{ message.text }}
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" placeholder="Your Message." />
      <button (click)="sendMessage()">Gönder</button>
    </div>
  </ng-container>-->

  <!--<ng-template #emptyChat>
    <div class="empty-chat">
      <p>No selected chat </p>
    </div>
  </ng-template>
</div>-->


