<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat List</title>

</head>
<body>
  <div class="chat-container">

    <div class="chat-item" *ngFor="let chat of chatService.ChatList" >
      <div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="avatar">{{chat.receiver.profilePic}}</div>
          <div class="chat-name">{{chat.receiver.name}}</div>
      </div>
        <div class="chat-details">
          <div class="chat-details">
            <div class="chat-message" (click)="getChatById(chat.id)">{{chat.lastMessage}}</div>
          </div>
          <div class="chat-time">{{message.adding}}</div>
        </div>
      </div>
    </div>
</body>
</html>
