<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>Login Page</title>
</head>
<body>
  <div class="d-flex justify-content-center align-items-center">
    <div class="login-container">
      <h2>Login</h2>
      <form action="#" method="POST">
        <div>

          <input type="text" class="col-12" placeholder="userName" [(ngModel)]="loginModel.userName" formControlName="userName" required><br>
          <ng-container *ngIf="loginForm?.get('userName')?.touched && loginForm.get('userName')?.errors">
            <div class="alert alert-danger" *ngIf="loginForm.get('userName')?.errors?.['required']">
              Please enter your User Name
            </div>
            <div class="alert alert-danger" *ngIf="loginForm?.get('userName')?.errors?.['minlength']">
              Your Last Name must be contain 3 character at least
            </div>
          </ng-container>
        </div>
        <div>

          <input type="password" class="col-12" placeholder="password" [(ngModel)]="loginModel.password" formControlName="password" required><br>
          <ng-container *ngIf="loginForm?.get('password')?.touched && loginForm.get('password')?.errors">
            <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors?.['required']">
              Please enter your Password
            </div>
          </ng-container>
        </div>


        <button type="submit">Login</button>
      </form>
      <a class="link" href="login" (click)="login()">Already have an account? Login</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
